@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@font-face {
  font-family: "xxemeEtage";
  src: url("/fonts/XXemeEtage-Regular.woff2") format("eot"),
    url("/fonts/XXemeEtage-Regular.woff2") format("otf"),
    url("/fonts/XXemeEtage-Regular.woff2") format("svg"),
    url("/fonts/XXemeEtage-Regular.woff2") format("ttf"),
    url("/fonts/XXemeEtage-Regular.woff") format("woff"),
    url("/fonts/XXemeEtage-Regular.woff2") format("woff2");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-sans {
    font-family: "xxemeEtage", "ABeeZee", sans-serif !important;
  }
}
